/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 May, 2023, 12:15:59 PM
    Author     : mohit
*/


.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

